
#shopify-section-template--15175445217339__banner{
  text-align: center;
}
.section-build-box{
  #ProductGridContainer{
    & > .collection.page-width{
      max-width: 1400px;
      .select-box{
        display: flex;
        justify-content: center;
        & > div{
          border:2px solid #000;
          margin: 15px;
          padding: 2px 30px;
          cursor: pointer;
          & > h3{

          }
        }
        & > div.active{
          background: #dfdfdf;
        }
      }
      .wrapper-info-container-box{
        display: flex;
        margin-top: 100px;
        & > .items-variants{
          flex-basis: 80%;
          & > .header-your-box{
            display: flex;
            & > h3{
              border:2px solid #000;
              margin: 15px;
              padding: 2px 30px;
              cursor: pointer;
              padding: 20px;
            }
            & > h3.active{
              background: #dfdfdf;
            }
          }
          ul#product-grid{
            list-style: none;
            display: flex;
            margin-top: 0;
            & > li{
              display: none;
              & > .build-box-item{
                & > ul.wrapper-items-for-box{
                  list-style: none;
                  display: flex;
                  padding: 0;
                  & > li{
                    text-align: center;
                    & > p{
                      margin: 0;
                      font-weight: 600;
                      font-size: 17px;
                      text-transform: uppercase;
                    }
                    & > .selected-qty{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      & > span.less,
                      & > span.more{
                        border: 1px solid;
                        display: flex;
                        align-items: center;
                        justify-content: center;                      
                        margin: 10px;
                        line-height: initial;
                        height: 25px;
                        width: 25px;
                        cursor: pointer;
                      }
                      & > span.less.disabled,
                      & > span.more.disabled{
                        opacity: 0.6;
                        pointer-events: none;
                      }
                      & > span.qty{
                        padding: 10px;
                        font-weight: 600;
                        font-size: 20px;
                      }
                    }
                  }
                }
              }
            }
            & > li.active{
              display: block;
            }
          }
        }
        & > .in-your-box{
          flex-basis: 30%;
          & > .header-your-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            & > span{
              font-weight: 600;
            }
          }
          & > .btn-totals{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p, span{
              font-weight: 600;
            }
          }
          & > .buttons-acctions{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            & > button{
              -webkit-appearance: none;
              -moz-appearance:    none;
              appearance:         none;              
              border:1px solid #000;
              padding:10px 15px;
              background: transparent;
              cursor: pointer;
              text-transform: uppercase;
              transition:all 0.2s ease-in-out;
              &:hover{
                background: #000;
                color: #fff;
              }
            }
          }
          & > .items-added{
            margin-top: 35px;
            & > .item{
              margin-bottom: 30px;
              & > .header-item{
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                line-height: initial;
                border-bottom: 1px solid #000;
                padding-bottom: 10px;
                color:#000;
              }
              & > .content{                
                display: flex;
                align-items: center;
                justify-content: space-between;
                & > p{
                  font-weight: 600;
                  text-transform: uppercase;
                  font-size: 20px;
                  margin-top: 5px;
                  color: #000;              
                }
                & > .selected-qty{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  & > span.less,
                  & > span.more{
                    border: 1px solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10px;
                    line-height: initial;
                    height: 25px;
                    width: 25px;
                    cursor: pointer;
                  }
                  & > span.less.disabled,
                  & > span.more.disabled{
                    opacity: 0.6;
                    pointer-events: none;
                  }
                  & > span.qty{
                    padding: 10px;
                    font-weight: 600;
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}