h1.collection-hero__title {
  text-align: center;
}

.section-build-box #ProductGridContainer > .collection.page-width {
  max-width: 1400px;
}
.section-build-box #ProductGridContainer > .collection.page-width .select-box {
  display: flex;
  justify-content: center;
}
.section-build-box #ProductGridContainer > .collection.page-width .select-box > div {
  border: 2px solid #000;
  margin: 15px;
  padding: 2px 30px;
  cursor: pointer;
}
.section-build-box #ProductGridContainer > .collection.page-width .select-box > div.active {
  background: #dfdfdf;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box {
  display: flex;
  margin-top: 100px;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants {
  flex-basis: 80%;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants > .header-your-box {
  display: flex;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants > .header-your-box > h3 {
  border: 2px solid #000;
  margin: 15px;
  padding: 2px 30px;
  cursor: pointer;
  padding: 20px;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants > .header-your-box > h3.active {
  background: #dfdfdf;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid {
  list-style: none;
  display: block;
  margin-top: 0;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li {
  display: none;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li > .build-box-item > ul.wrapper-items-for-box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px;
  margin-top: 50px;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li > .build-box-item > ul.wrapper-items-for-box > li {
  text-align: center;
  background: #e9e9e9;
  flex-basis: 30%;
  padding-bottom: 50px;
  margin: 10px;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li > .build-box-item > ul.wrapper-items-for-box > li > p {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li > .build-box-item > ul.wrapper-items-for-box > li > .selected-qty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li > .build-box-item > ul.wrapper-items-for-box > li > .selected-qty > span.less, .section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li > .build-box-item > ul.wrapper-items-for-box > li > .selected-qty > span.more {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  line-height: initial;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li > .build-box-item > ul.wrapper-items-for-box > li > .selected-qty > span.less.disabled, .section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li > .build-box-item > ul.wrapper-items-for-box > li > .selected-qty > span.more.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li > .build-box-item > ul.wrapper-items-for-box > li > .selected-qty > span.qty {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .items-variants ul#product-grid > li.active {
  display: block;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box {
  flex-basis: 30%;
  padding: 30px;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.13);
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .header-your-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .header-your-box > span {
  font-weight: 600;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .btn-totals {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .btn-totals p, .section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .btn-totals span {
  font-weight: 600;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .buttons-acctions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .buttons-acctions > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #000;
  padding: 10px 15px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .buttons-acctions > button:hover {
  background: #000;
  color: #fff;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added {
  margin-top: 35px;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item {
  margin-bottom: 30px;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item > .header-item {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: initial;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  color: #000;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item > .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item > .content > p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 5px;
  color: #000;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item > .content > .selected-qty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item > .content > .selected-qty > span.less, .section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item > .content > .selected-qty > span.more {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  line-height: initial;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item > .content > .selected-qty > span.less.disabled, .section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item > .content > .selected-qty > span.more.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.section-build-box #ProductGridContainer > .collection.page-width .wrapper-info-container-box > .in-your-box > .items-added > .item > .content > .selected-qty > span.qty {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

/* STYLES CART */
.cart-items tbody > .cart-item-box > .cart-item__details > h2 {
  font-weight: 600;
  text-transform: uppercase;
}
.cart-items tbody > .cart-item-box > .cart-item__details > div {
  padding: 0;
  list-style: none;
}
.cart-items tbody > .cart-item-box > .cart-item__details > div > div > p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
}
.cart-items tbody > .cart-item-box > .cart-item__details > div > div span {
  margin-bottom: 5px;
  font-size: 15px;
  display: block;
}
.cart-items tbody > .cart-item-box > .cart-item__quantity {
  display: flex;
  align-items: center;
}
.cart-items tbody > .cart-item-box > .cart-item__quantity span {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.cart-items tbody > .cart-item-box > .cart-item__quantity span svg {
  width: 15px;
}
.cart-items tbody > .cart-item-box > .cart-item__quantity > span.editBox {
  border: 1px solid #000;
  line-height: initial;
  padding: 5px 15px;
  transition: all 0.2s ease-in-out;
}
.cart-items tbody > .cart-item-box > .cart-item__quantity > span.editBox:hover {
  background: #000;
  color: #fff;
}
.cart-items tbody > .cart-item-box > .cart-item__quantity > .removeBox {
  transition: all 0.2s ease-in-out;
}
.cart-items tbody > .cart-item-box > .cart-item__quantity > .removeBox:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=component-build-box.css.map */
